<!DOCTYPE html>
<html>
<title>Arkisto</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Abinethri Santhanam">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Arial", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("<%=url%>.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 30px;
   <!-- margin-top: 20px;-->
    
}
.headingclass{

  text-align: center;
}
.tableclass{
  visibility: <%=visibility%>;
}
img{
  width: 100%;
  height: 100%;
}
</style>

<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-light-grey" w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide"><img src="logo.png" style= "width:50%; height:40px;"></a>
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-users"></i> TEAM</a>
      <a href="#focusareas" class="w3-bar-item w3-button"><i class="fa fa-th"></i> FOCUS AREAS</a>
      <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-mobile fa-lg"></i> CONTACT</a>
    </div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar for menu -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT US</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#focusareas" onclick="w3_close()" class="w3-bar-item w3-button">FOCUS AREAS</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header  -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-<%=align%> w3-text-yellow" style="padding:48px">
    <span class="w3-jumbo">The Future is here.</span><br>
    <span class="w3-large">Innovation begins Now</span>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more</a></p>
  </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header> 


<!-- About Section -->
<div class="w3-container" id="about">
  <h3 class="w3-center" style="padding:128px 16px">ABOUT THE COMPANY </h3>
  <p class="w3-center w3-large">Arkisto is answering our clients with real business challenges. Here's How.</p>
  <p class="w3-center w3-large">Why Choose Us?</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px;" >
  <!--<div class="w3-row"> > -->
    <div class="w3-half">
       <img src="left-about-image.jpg" style="width:100%">
    </div>
    <div class="w3-half">
      <p class="w3-large">Organised Team</p>
      <p>"We build projects around motivated individuals.  We give them the environment and support they need, and trust them to get the job done."</p>
    </div>
  </div>
  
  <div class="w3-row">
    <div class="w3-half">
      <p class=" w3-center w3-large">Design To Perfection</p>
      <p class=" w3-center">"A good design is not the one that correctly predicts the future, it’s one that makes adapting to the future affordable." We make this happen for you.</p>
    </div>
    <div class="w3-half">
      <img src="item-07.jpg" style="width:100%;">
    </div>
  </div>
  
  <div class="w3-row">
   <div class="w3-half">
   <img src="right-about-image.jpg" style="width:100%">
   </div>
   <div class="w3-half">
      <p class=" w3-center w3-large">Passion</p>
      <p class=" w3-center">“Your skills should transcend technology platform”. Passion to learn is our motto.</p>
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-half">
      <p class=" w3-center w3-large">Customer Support</p>
      <p class=" w3-center">"Customer service represents the heart of a brand in the hearts of its customers". We always participate to exceed customer expectations.</p>
    </div>
    <div class="w3-half"> 
      <img src="customer_support.jpeg" style="width:100%;">
    </div>
  </div>
  
  
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">OUR TEAM</h3>
  <p class="w3-center w3-large"> Our team is composed of dedicated professionals who are committed to providing superior service to our customers — and who have the skills and knowledge necessary to deliver timely, well targeted, and affordable solutions</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="Priyatham<%=priyatham%>.jpeg" style="width:100%;">
        <div class="w3-container">
          <h3>Priyatham Tadikonda</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>"Passionate about leading the company and forging my path with goals in mind, and when you look back on your life, you’ll be able to say you took charge of your own destiny. Business is constantly changing,so should we to stay at the top."</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="abinethripic<%=abinethri%>.jpg" style="width:100%;">
        <div class="w3-container">
          <h3>Abinethri Santhanam</h3>
          <p class="w3-opacity">Vice President, Product Management</p>
          <p>“Lots of companies don’t succeed over time. What do they fundamentally do wrong? They usually miss the future. Spinning your wheels needlessly isn’t an option, so utilize what you can (in both technology and culture).” </p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="ankitha<%=ankita%>.jpeg" style="width:100%; height: 335px;">
        <div class="w3-container">
          <h3>Ankitha Harkare</h3>
          <p class="w3-opacity">Vice President, Human Resources</p>
          <p>'The distance between number one and number two is always a constant. If you want to improve the organization, you have to improve yourself and the organization gets pulled up with you. That is a big lesson. Companies should start communicating."</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="pratiskha<%=pratheeksha%>.jpg" style="width:100%">
        <div class="w3-container">
          <h3>Pratiksha Gowda</h3>
          <p class="w3-opacity">Vice President, Engineering</p>
          <p>"Business decisions should never be boring. You’re either excited about them, or you’re not. Putting yourself behind an idea can be a daunting task, but if you’re willing to put in the effort, you should be excited to see the outcome."</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    
    
  </div>
</div>

<!-- Skills Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="focusareas">
  <h3 class="w3-center">OUR FOCUS AREAS</h3>
  <p class="w3-center w3-large">What we've done for people</p>
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Our Skills.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
      tempor incididunt ut labore et dolore.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
      tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-col m6">
       <img src="software-clipart-technical-skill-12.jpg" style="width:80%;">
    </div>
</div>

<!-- Pricing Section -->
<div class="w3-container w3-white" style="padding:128px 16px" id="pricing">
  <hr>
  <div class="w3-center">
    <h3 class="w3-center">Pricing</h3>
    <h3>Great Solutions At Great Hiring Prices.</h3>
    <p w3-class="w3-large">Our team will closely work with a customer to minimize their efforts and providing a maximum satisfaction at all. All our peoples are hands of good expertise and well domain knowledge to manage the requirements offer by our clients in a right way. Quality services and customer satisfaction is our primary motto. Select one of our plans below to get great results and keep coming back.
    </p>
  </div>
<div class="w3-responsive w3-card-4 tableclass">
<table class="w3-table w3-striped w3-bordered">
<thead>
<tr class="w3-theme">
  <th>Choose Plan</th>
  <th>Artificial Intelligence</th>
  <th>Cloud Computing</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Basic</td>
  <td>- Services<br> - Minimal Support</td>
  <td> $<%=text%> Per Year onwards <button class="w3-button w3-green w3-padding-large" style="margin-left:120px;">Sign Up</button></td>
</tr>
<tr class="w3-white">
  <td>Pro</td>
  <td>- Advanced Services<br> - 24/7 Support</td>
  <td>$25,0000 Per Year onwards <button class="w3-button w3-green w3-padding-large" style="margin-left:100px;">Sign Up</button></td>
</tr>
<tr>
  <td>Enterprise</td>
  <td>- Dedicated CRM<br>- 24/7 Support</td>
  <td>$59,000 onwards<button class="w3-button w3-green w3-padding-large" style="margin-left:176px;">Sign Up</button></td>
</tr>
</tbody>
</table>
</div>



<!--Contact Section -->
<div class="w3-container"  style="padding:128px 16px" id="contact">
    <h2>Contact</h2>
    <p>If you have any questions,please contact us below at the belown shown address.</p>
    <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> Address: 495 E Java Dr, Sunnyvale, CA 94089<br>
    <i class="fa fa-phone w3-text-red" style="width:30px"></i> Phone: (408) 822-6000<br>
    <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> Email: team_arkista@gmail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>


<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-white  w3-center">
  <a href="#" class="w3-button w3-grey w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
     <img class= "w3-hover-opacity" src="Facebook-logo.png" style="width:9%;">
     <img class= "w3-hover-opacity" src="twitter-logo.png" style="width:8%;">
     <img class= "w3-hover-opacity" src="google-plus-logo.png" style="width:8%;"> 
     <img class= "w3-hover-opacity" src="Linked_in-logo.png" style="width:8%;"> 
     <img class= "w3-hover-opacity" src="YouTube-logo.png" style="width:10%; height:100px;">
  </div>
  <p >Copyrights Reserved 2017- Arkisto </p>
</footer>

<script>
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>
<body>
</html>